<h1>Login</h1>
<h2>Private key</h2>
<textarea class="form-control string" id="privkey" ></textarea>
<h2>Public key</h2>
<textarea class="form-control string" id="pubkey" ></textarea>
<button onclick="loginAdmin()">Login</button>