<div class="well">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-3" for="advanced_pwd">Confirm password:</label>
      <div class="col-sm-9">
        <input type="password" class="form-control" id="advanced_pwd" placeholder="Current password">
      </div>
    </div>

    <% if @user.has2fa %>
      <div class="form-group">
        <label class="control-label col-sm-3" for="advanced_otp_key">Two-factor key:</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="advanced_otp_key" placeholder="Two-factor authentication key">
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-10">
        <button type="button" class="btn btn-danger" onclick="onDeleteAccountClick()">Delete account</button>
      </div>
    </div>

    <div class="form-group" hidden="hidden" id="delete_account_confirmation_group">
      <div class="col-sm-offset-3 col-sm-10">
        <div>Are you sure you want to delete the account? You will no longer be able to log in using this account</div>
        <button type="button" class="btn btn-danger" onclick="onDeleteAccountConfirmation()">Yes, delete it</button>
        <button type="button" class="btn btn-default" onclick="onAbortDeletionClick()">No, cancel</button>
      </div>
    </div>
  </form>
</div>