<div id="requireOneTImeProofModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirmation needed</h4>
      </div>
      <div class="modal-body">
        <div id="oneTimeProofNotifications"></div>
        <p>Some changes has been made to the wallet after your last visit which requires us to verify the identity of
          all existing accounts. To do this your password will be sent to the server to finish the authentication.
          This is a one time operation only, and we will not transfer your password in any other circumstances.</p>
        <p>The password will not be saved on the server. If you do not agree you can still log in using your seed.</p>
        <p>Get in touch at support@iota-wallet.org if you have any questions.</p>
        <button type="button" class="ladda-button btn btn-primary" data-style="expand-right" id="signupConfirm"
                onclick="login(this, true)">
          <span class="ladda-label">I agree</span>
        </button>
        <button type="button" class="ladda-button btn btn-default" data-style="expand-right"
                onclick="onDisapproveOneTimeProof(this)" >
          <span class="ladda-label">No, cancel</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>