<style>
  .nav-tabs > li a {
    background-color:#2F71AB;
    color:#fff;
    text-align: center;
  }

  .nav-tabs > li {
    width: 50%;
  }

  li {
    list-style-type: none;
  }

  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover{
    background-color:#fff;
    color:#000;
  }

  .nav-tabs > li > a:hover{
    background-color: #ddd !important;
    color:#000;
  }

  .tab-pane {
    width:100%;
    background-color:#fff;
    padding:5px;
  }
</style>

<script>
  $( document ).ready(function() {
      $("#wallet_username").keyup(function (event) {
          if (event.keyCode === 13) {
              $("#login_btn").click();
          }
      });

      $("#wallet_password").keyup(function (event) {
          if (event.keyCode === 13) {
              $("#login_btn").click();
          }
      });

      $("#wallet_seed").keyup(function (event) {
          if (event.keyCode === 13) {
              $("#openWithSeed").click();
          }
      });

      $("#wallet_password_confirmation").keyup(function (event) {
          if (event.keyCode === 13) {
              $("#signupConfirm").click();
          }
      });
  });
</script>

<div id="notifications">
  <% if @user.errors.full_messages.any? %>
      <div class="alert alert-danger">
        <%= @user.errors.full_messages.first %>
      </div>
  <% else %>
      <div class="alert alert-warning"><b>Important</b>: Remember to backup your credentials, including your seed. They cannot be recovered once they are lost!</div>
  <% end %>
</div>

<li>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#accountTab" role="tab" data-toggle="tab">Use account</a></li>
    <li><a href="#seedTab" role="tab" data-toggle="tab">Use seed</a></li>
  </ul>
</li>

<div class="tab-content">
  <div class="tab-pane active" id="accountTab">
    <div id="loginTab">
      <div class="form-group string required wallet_username">
        <label class="control-label string required" for="wallet_username"><abbr title="required">*</abbr> Username</label>
        <input class="form-control string required" required="required" aria-required="true" type="text" name="wallet[username]" id="wallet_username" />
      </div>
      <div class="form-group password required wallet_password">
        <label class="control-label password required" for="wallet_password"><abbr title="required">*</abbr> Password</label>
        <input class="form-control password required" required="required" aria-required="true" type="password" name="wallet[password]" id="wallet_password" />
      </div>
      <button class="ladda-button btn btn-primary btn" data-style="expand-right" id="login_btn" onclick="login(this)">
        <span class="ladda-label">Open wallet</span>
      </button>
      <button class="ladda-button btn btn-default btn" data-style="expand-right" id="signup" onclick="openSignupConfirmation(this)">
        <span class="ladda-label">Sign up</span>
      </button>
    </div>
    <div id="login2faTab" hidden="hidden">
      <h1>Enter your two-factor authentication code</h1>
      <form class="form-inline" style="padding-top: 1em">
        <div class="form-group">
          <label for="otp_key_login">Code:</label>
          <input type="text" class="form-control" id="otp_key_login" placeholder="Enter key" autofocus>
        </div>
        <button class="ladda-button btn btn-primary btn" data-style="expand-right" onclick="on2faLoginClick(this)">
          <span class="ladda-label">Confirm</span>
        </button>
        <button class="ladda-button btn btn-default btn" type="button" data-style="expand-right" onclick="resetForm()">
          <span class="ladda-label">Back</span>
        </button>
      </form>
    </div>
    <div id="signUpTab" hidden="hidden">
      <div class="form-group string required wallet_password_confirmation">
        <label class="control-label string required" for="wallet_password_confirmation"><abbr title="required">*</abbr> Please confirm your password</label>
        <input class="form-control string required" required="required" aria-required="true" type="password" id="wallet_password_confirmation" autofocus/>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label><input type="checkbox" id="enable2FaCheckbox">Enable two-factor identification</label>
        </div>
      </div>
      <button class="ladda-button btn btn-primary btn" data-style="expand-right" id="signupConfirm" onclick="signup(this)">
        <span class="ladda-label">Sign up</span>
      </button>
      <button class="ladda-button btn btn-default btn" data-style="expand-right" onclick="resetForm()">
        <span class="ladda-label">Back</span>
      </button>
    </div>
    <div id="confirm2fa" hidden="hidden">
      <%= render 'confirm2fa' %>
    </div>
  </div>
  <div class="tab-pane" id="seedTab">
    <div id="new_wallet" >
      <div class="form-group string required wallet_seed">
        <label class="control-label string required" for="wallet_seed"><abbr title="required">*</abbr>Seed</label>
        <input class="form-control overflow-elipsis string required" required="required" aria-required="true" type="text" name="wallet[seed]" id="wallet_seed" />
      </div>
      <button class="btn btn-primary btn" id="openWithSeed" onclick="openWithSeed()">
        <span>Open</span>
      </button>
      <button class="btn btn-default btn" id="generateSeed" onclick="onGenerateSeedClick()">
        <span>Generate a new seed</span>
      </button>
    </div>
  </div>
</div>
