<div class="well">
  <form class="form-horizontal" id="settings_form">

    <div class="form-group">
      <label class="control-label col-sm-3" for="settings_2fa_toggle">Two factor authentication:</label>
      <div class="col-sm-9">
        <input type="checkbox" style="margin-top: 1em;" id="settings_2fa_toggle" <%= 'checked' if current_user.has2fa %>>
        <%= if current_user.has2fa then 'Select to disable' else 'Select to enable' end %>
      </div>
    </div>

    <hr>

    <div class="form-group">
      <label class="control-label col-sm-3" for="settings_pwd">Confirm password:</label>
      <div class="col-sm-9">
        <input type="password" class="form-control" id="settings_pwd" placeholder="Current password">
      </div>
    </div>

    <% if current_user.has2fa %>
        <div class="form-group">
          <label class="control-label col-sm-3" for="settings_otp_key">Two-factor key:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="settings_otp_key" placeholder="Two-factor authentication key">
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-10">
        <button type="button" class="ladda-button btn btn-primary" onclick="saveSettings()">
          <span class="ladda-label">Save</span>
        </button>
      </div>
    </div>
  </form>

  <div id="confirm2fa" hidden="hidden">
    <%= render 'confirm2fa' %>
  </div>
</div>
