<script>
    $(document).ready(function() {
        redirectToLoginIfNotLoggedIn();

        var success = getParam('success');
        if (success){
            renderSuccessAlert('user_show_notification', btoa(success));
        }
    });
</script>

<div class="container">
  <div id="user_show_notification"></div>

  <% if @user.nil? %>
      <h1>Access denied</h1>
  <% else %>

      <div class="row profile">
        <div class="col-md-3">
          <div class="profile-sidebar">
            <div class="profile-usermenu">
              <ul class="nav">
                <li class="active">
                  <a href="#account" role="tab" data-toggle="tab">
                    <i class="glyphicon glyphicon-user"></i>
                    Account </a>
                </li>
                <li>
                  <a href="#settings" role="tab" data-toggle="tab">
                    <i class="glyphicon glyphicon-cog"></i>
                    Settings </a>
                </li>
                <li>
                  <a href="#advanced" role="tab" data-toggle="tab">
                    <i class="glyphicon glyphicon-plus"></i>
                    Advanced </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-9 tab-content">
          <div id="account" class="tab-pane active">
            <%= render 'account' %>
          </div>
          <div id="settings" class="tab-pane">
            <%= render 'settings' %>
          </div>
          <div id="advanced" class="tab-pane">
            <%= render 'advanced' %>
          </div>
        </div>
      </div>
  <% end %>
</div>

<style>
/* Profile sidebar */
.profile-sidebar {
  padding: 0px 0 10px 0;

}

.profile-usermenu {
  border-right: 1px solid #999999;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

.tab-content{
  padding: 0px 0 10px 0;
}

hr {
  border-color: #BBBBBB;
}
</style>