<div class="container">
  <% if @user.nil? %>
      <h1>Access denied</h1>
  <% else %>
    <h1><%= @user.username %></h1>

    <div class="row">
      <div class="col-sm-2">
        <nav class="nav-sidebar">
          <ul class="nav">
            <li class="active"><a href="#home" data-toggle="tab">Account</a></li>
            <li><a href="#settings">Settings</a></li>
            <li class="nav-divider"></li>
            <li><a href="#merchant">Merchant</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-sm-2 col-sm-offset-8">
        <div id="home">
          Account
        </div>
        <div id="settings">
          Settings
        </div>
        <div id="merchant">
          Merchant
        </div>
      </div>
    </div>
  <% end %>
</div>

<style>
  .nav-sidebar {
    width: 100%;
    padding: 8px 0;
    border-right: 1px solid #ddd;
  }
  .nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
  }
  .nav-sidebar .active a {
    cursor: default;
    background-color: #428bca;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
  }
  .nav-sidebar .active a:hover {
    background-color: #428bca;
  }
  .nav-sidebar .text-overflow a,
  .nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }

  /* Right-aligned sidebar */
  .nav-sidebar.pull-right {
    border-right: 0;
    border-left: 1px solid #ddd;
  }
  .nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
  }
</style>