<style>
  .jumbotron {
    background-color: transparent;
  }
  .jumbotron h1 {
    font-size: 2.9em;
  }
</style>

<section class="jumbotron text-center">
  <div class="container">
    <p><%= image_tag 'iota_logo.png', size: 100 %></p>
    <h1>IOTA web wallet</h1>
    <p>A secure and user friendly wallet for IOTA</p>
    <% if !cookies.key?('isLoggedIn') %>
        <div id="sign_in">
          <%= link_to "Sign in", wallets_login_path, :class=>"btn btn-primary", :type=>"button" %>
          <%= link_to "New user", wallets_login_path, :class=>"btn btn-default", :type=>"button" %>
        </div>
    <% else %>
      <div id="open_wallet">
          <%= link_to "Go to wallet", wallets_show_path, :class=>"btn btn-primary", :type=>"button" %>
        </div>
      </div>
    <% end %>
</section>

<div class="row">
  <div class="col-md-4">
    <h2>Secure</h2>
    <p>We don't store any sensitive information about you. In fact, your seed and password never even leaves your client.
      This means your wallet is completely safe with our services</p>
  </div>
  <div class="col-md-4">
    <h2>User friendly</h2>
    <p>Our aim is to make IOTA as user friendly as possible. We handle the complexities, and provide you with a simple interface to the IOTA network.</p>
  </div>
  <div class="col-md-4">
    <h2>Compatible</h2>
    <p>All IOTA wallets are compatible with each other. If you want to switch from one wallet to another, all you need is your seed.</p>
  </div>
</div>