<h1>About</h1>
<p>IOTA wallet is a open source tool that provides an easy and user friendly wallet for the distributed ledger <a href="iota.org">IOTA</a></p>
<p>The tool was created by <a href="https://github.com/danilind" >danilind</a>. The source code is publicly available on
  <a href="https://github.com/danilind/iota-web-wallet" >github</a> </p>

<h2>Contact</h2>
<ul>
  <li>Mail: <a href="mailto:support@iota-wallet.org">support@iota-wallet.org</a></li>
  <li>Github: <a href="https://github.com/danilind/iota-web-wallet">Github</a></li>
</ul>

<h2>Donations</h2>
Donations help keep this site running. Go to <a href="/page/donate">donations</a>

<h2>Bugs</h2>
If you find bugs, send us a mail or open a github issue
