<h1>About</h1>
<p>IOTA wallet is a open source tool that provides an easy and user friendly wallet for the distributed ledger IOTA (iota.org)</p>
<p>The tool was created by <a href="https://github.com/danilind" >danilind</a> </p>

<h2>Statistics</h2>
<p>Statistics will come</p>