<h1>About</h1>
<p>IOTA wallet is a open source tool that provides an easy and user friendly wallet for the distributed ledger IOTA (iota.org)</p>
<p>The tool was created by <a href="https://github.com/danilind" >danilind</a> </p>

<h2>Upcoming features</h2>
The wallet is still under active development. Planned upcoming features include:
<ul>
  <li>Clear instructions about replays and how to use them</li>
  <li>Send and/or receive based on username instead of addresses</li>
  <li>Ability to select units when sending iotas</li>
  <li>UI improvements</li>
  <li>View node information and change node</li>
  <li>Multi-language</li>
</ul>
If you have some features you would like to see, please send us a mail.

<h2>Bugs</h2>
If you find bugs, send us a mail or open a github issue

<h2>Contact</h2>
Want to get in touch?
<p>Mail: *TODO*</p>

<h2>Statistics</h2>
<p>Statistics will come</p>