<h1>Support us</h1>
<div>
  <p>If you want to show your support and help keep this site running, donations are much appreciated. You can donate IOTA, ETH or BTC</p>
  <table class="table fixed-table">
    <thead>
    <tr>
      <th style="width: 7em;"></th>
      <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><b>IOTA</b></td>
      <td>PRADUTNZ99BATVWNMCEHTUXATWVLTPVCQQBJYDIAHPQDAQDDQELWKS9PLHTCLNJYVB9ENJAINLQWOFVLXTHAHMKKFF</td>
    </tr>
    <tr>
      <td><b>ETH</b></td>
      <td>0x0b9b1E299727a656b268C04d61E3349d6adA86b2</td>
    </tr>
    <tr>
      <td><b>BTC</b></td>
      <td>1PKLe6xmwJhs9hkqi8czefx4vBDSGhiCVV</td>
    </tr>
    </tbody>
  </table>
</div>
