<h1>FAQ</h1>
<div class="container">
  <div class="panel-group" id="accordion">
    <div class="faqHeader">General</div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">Do I need an account?</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          No. You can access your wallet using an account, or only with your seed.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2">I lost my password. What do I do?</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
          We don't store your password, and will not be able to retrieve it. If you still have your seed, you can use it
          to access your account.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse13">Transactions and address generation takes forever. Why?</a>
        </h4>
      </div>
      <div id="collapse13" class="panel-collapse collapse">
        <div class="panel-body">
          <p>When making a transaction, your browser have to do proof of work. This is similar to what bitcoin miners have
            to do, but with IOTA this is done by the senders. If your computer is slow, this could take some time.</p>
          <p>Another thing to be aware of is that some browsers reduce the processing power of tabs when you leave them.
            You should therefore make sure to stay on the site until the work is done (sadly, we do not control this). </p>
          <p>Another approach for chrome users would be to do the transaction in a new window instead of a new tab. As
            long as the tab is selected in the new window, you are free to browse in the original chrome window without
            reducing processing power.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse14">My balance is gone/too low</a>
        </h4>
      </div>
      <div id="collapse14" class="panel-collapse collapse">
        <div class="panel-body">
          <p>There can be 2 reasons for this.</p>
          <p>Your IOTAs are stored on addresses, which again belong to your seed. When you enter the wallet, it will
            load up to 30 of your last addresses. If you have more than 30 addresses, and some of the first ones have a
            positive balance, the seed balance will be wrong. </p><p><b>Solution: </b>This can easily be fixed by pressing the "Load all"
            button in your wallet. Consider to move all your funds to one address when this happens.</p>
          <p>Another reason why the balance may not show up is if there has recently been a snapshot on the IOTA network.
          When a snapshot is taken, all unnecessary data is basically removed from the network. The result is that
            the wallet sometimes won't be able to find all your addresses. </p>
          </p><p><b>Solution: </b>Press the "Generate new address" button until your balance is correct.</p>
        </div>
      </div>
    </div>

    <div class="faqHeader">Security</div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">Is this secure?</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
          No sensitive information ever leaves your client. If you register an account your seed immediately gets
          encrypted before it is transferred to our server. That means we will never be able to restore your seed if you
          loose it or your log in credentials.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4">What happens if I loose my seed?</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">
          <p>If you loose your seed and do not have a account, your iotas are gone.</p>
          <p>It is always advised that you keep a backup of your seed somewhere safe</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5">Is my seed safe with you?</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">
          We never get access to your seed. Every action that require a seed is made locally on your device.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6">What happens if the site goes down?</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body">
          Then you will still be able to access your IOTA account if you have your seed. You can for example use the desktop wallet.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8">How can I be sure you're not scamming?</a>
        </h4>
      </div>
      <div id="collapse8" class="panel-collapse collapse">
        <div class="panel-body">
          This is a open source project, which means that you can see exactly what we do by heading over to your <a href="https://github.com/danilind/iota-web-wallet">github repo</a>.
        </div>
      </div>
    </div>

  <div class="faqHeader">IOTA</div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse9">What is IOTA?</a>
      </h4>
    </div>
    <div id="collapse9" class="panel-collapse collapse">
      <div class="panel-body">
        IOTA is a distributed ledger capable of fee less transactions and infinite scaling. Check our these links for
        more in depth information:
        <ul>
          <li><a href="http://www.iotasupport.com/whatisiota.shtml">iotasupport</a></li>
          <li><a href="http://www.tangleblog.com/what-is-iota-what-is-the-tangle/">tangleblog</a></li>
          <li><a href="http://www.tangleblog.com/2017/06/05/ama-answers-for-newcomers/">tangleblog faq</a></li>
        </ul>
      </div>
    </div>
  </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse11">What does it mean to replay/re-attach?</a>
        </h4>
      </div>
      <div id="collapse11" class="panel-collapse collapse">
        <div class="panel-body">
          <p>When you replay a transaction, it is basically moved to a different part of the tangle, which may be more active.
            The reason for doing this is to increase the chances of it being picked up and validated by others</p>
          <p>iota-wallet.org replays/re-attaches your transactions automatically, so you don't normally have to think
            about it. If you on the other hand have a transaction that have been pending for a long time, you may want
            to replay it yourself.</p>
          <p> Also note the we don't allow you to replay double spends, because they can never be confirmed.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse14">What is a double spend?</a>
      </h4>
    </div>
    <div id="collapse14" class="panel-collapse collapse">
      <div class="panel-body">
        <p>IOTA addresses become insecure to use after it have been used to make a transaction. Because of this, this is what happens when you make a transaction:</p>
        <ul>
          <li>A list of your addresses with a positive balance is collected, and is used to fund the transaction</li>
          <li>The transaction is made by doing proof of work. You validate two other transactions at the same time</li>
          <li>All remaining funds on the addresses used in step 1 is transferred to a newly generated address</li>
        </ul>
        <p>What this means is that if you send two transactions from the same address, one of them will be confirmed,
          and the addresses will have a balance of 0. The remaining transaction will therefore never be confirmed, because
          it don't have enough funds</p>
        <p>If this happens, the solution is simple: Do the pending transaction again. iota-wallet.org provides a warning
          before every attempt to double spend. If you get such a warning, simply wait until the last outgoing transaction
          has been confirmed</p>
      </div>
    </div>
  </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse12">Should I re-attach or make the transaction again?</a>
        </h4>
      </div>
      <div id="collapse12" class="panel-collapse collapse">
        <div class="panel-body">
          By opening the transaction, one of the following will be true:
          <ul>
            <li>You see a green re-attach button. </li>
            <li>You get a red warning telling you that the transaction is a double spend. In that case you will have to do the transaction again manually</li>
          </ul>
          iota-wallet.org replays your transactions automatically, but if it have been pending a long time and it is not
          a double spend, you can choose to replay it yourself.
        </div>
      </div>
    </div>
  </div>
</div>

<h1>Support</h1>
<p>Still having questions? Get in touch: </p>
<ul>
  <li><a href="https://github.com/danilind/iota-web-wallet">Github</a></li>
  <li>Email: <a href="mailto:support@iota-wallet.org">support@iota-wallet.org</a></li>
</ul>

<style>
  .faqHeader {
    font-size: 27px;
    margin: 20px;
  }
</style>