<script>
    $( document ).ready(function() {
        $("#amount").keyup(function (event) {
            if (event.keyCode === 13) {
                $("#send_button").click();
            }
        });
        $("#send_address").keyup(function (event) {
            if (event.keyCode === 13) {
                $("#send_button").click();
            }
        });
        $("#message").keyup(function (event) {
            if (event.keyCode === 13) {
                $("#send_button").click();
            }
        });
    });
</script>


<div id="send-notifications"></div>

<div>
  <div class="form-group string required send_address">
    <label class="control-label string required" for="send_address" title="Recipient address"><abbr title="required">*</abbr> Send to</label>
    <input class="form-control string required" required="required" aria-required="true" title="Recipient address" type="text" id="send_address" />
  </div>
  <div class="form-group number required amount">
    <label class="control-label number required" for="amount" title="Amount to send"><abbr title="required">*</abbr> Amount</label>
    <input class="form-control number required" required="required" title="Amount to send" aria-required="true" type="number" id="amount" />
    <a href="javascript:moveBalanceToSendAmount();" class="form-text text-muted" id="send_balance"></a>
  </div>
  <div class="form-group string message">
    <label class="control-label string" for="message" title="Message to attach to the tangle"> Message (optional)</label>
    <textarea class="form-control string" cols="2" id="message" title="Message to attach to the tangle"></textarea>
  </div>

  <button class="ladda-button btn btn-primary btn" data-style="expand-right" onclick="onMakeTransactionClick()" id="send_button">
    <span class="ladda-label" data-disable-with="Make transaction" >Make transaction</span>
  </button>

  <div id="send_confirmation_box" hidden="hidden">
    <div id="send_confirmation_message"></div>
    <button class="ladda-button btn btn-primary btn" data-style="expand-right" id="send_button" onclick="onSendClick(this)">
      <span class="ladda-label" data-disable-with="Make transaction">Confirm</span>
    </button>
    <button class="btn btn-default" onclick="restoreSendForm()">Cancel</button>
  </div>

  <div id="double_spend_confirmation_box" hidden="hidden">
    <p><b>Double spend warning</b></p>
    <p>This is a double spend. If you choose to confirm this transfer, only one of your transfers will be completed, while the rest will be pending forever.</p>
    <p>You should wait for any transactions you just made to finish before sending a new one</p>
    <button class="btn btn-primary btn" onclick="restoreSendForm()">Abort</button>
    <button class="ladda-button btn btn-danger" data-style="expand-right" id="force_send_button" onclick="onSendClick(this)">
      <span class="ladda-label" data-disable-with="Make transaction">I want to send anyway</span>
    </button>
  </div>
</div>