<script>
    $( document ).ready(function() {
        $("#amount").keyup(function (event) {
            if (event.keyCode === 13) {
                $("#send_button").click();
            }
        });
        $("#send_address").keyup(function (event) {
            if (event.keyCode === 13) {
                $("#send_button").click();
            }
        });
        $("#message").keyup(function (event) {
            if (event.keyCode === 13) {
                $("#send_button").click();
            }
        });
    });
</script>


<div id="send-notifications"></div>

<div>
  <div class="form-group string required send_address">
    <label class="control-label string required" for="send_address" title="Recipient address"><abbr title="required">*</abbr> Send to</label>
    <input class="form-control string required" required="required" placeholder="Enter a username or an IOTA address" aria-required="true" title="Recipient address or username" type="text" id="send_address" />
  </div>
  <div class="form-group number required amount">
    <label class="control-label number required" for="amount" title="Amount to send"><abbr title="required">*</abbr> Amount</label>
    <div class="input-group">
      <input class="form-control number required" required="required" title="Amount to send" placeholder="Enter the amount to send" aria-required="true" type="number" id="amount" />
      <span class="input-group-btn">
        <button class="btn btn-default dropdown-toggle" type="button" id="unitDropdown" data-toggle="dropdown" aria-haspopup="true" title="1.000.000 IOTAs" aria-expanded="true">
          <span id="unitDropdownValue" style="padding-right: 10px" class="inline">Mi</span><span class="caret inline"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="unitDropdown">
          <li><a onclick="onChooseUnit(this)" title="1 IOTA">i</a></li>
          <li><a onclick="onChooseUnit(this)" title="1.000 IOTAs">Ki</a></li>
          <li><a onclick="onChooseUnit(this)" title="1.000.000 IOTAs">Mi</a></li>
          <li><a onclick="onChooseUnit(this)" title="1.000.000.000 IOTAs">Gi</a></li>
          <li><a onclick="onChooseUnit(this)" title="1.000.000.000.000 IOTAs">Ti</a></li>
        </ul>
      </span>
    </div>
    <a href="javascript:moveBalanceToSendAmount();" class="form-text text-muted" id="send_balance"></a>
  </div>
  <div class="form-group string message">
    <label class="control-label string" for="message" title="Message to attach to the tangle"> Message (optional)</label>
    <textarea class="form-control string" cols="2" id="message" title="Message to attach to the tangle"></textarea>
  </div>

  <button class="ladda-button btn btn-primary btn" data-style="expand-right" onclick="onMakeTransactionClick()" id="send_button">
    <span class="ladda-label" data-disable-with="Make transaction" >Make transaction</span>
  </button>

  <div id="progress_text" class="text-muted"></div>

  <div id="send_confirmation_box" hidden="hidden">
    <div id="send_confirmation_message"></div>
    <button class="ladda-button btn btn-primary btn" data-style="expand-right" id="confirm_button" onclick="onSendClick(this)">
      <span class="ladda-label">Confirm</span>
    </button>
    <button class="btn btn-default" onclick="restoreSendForm()" id="cancel">Cancel</button>
  </div>

  <div id="double_spend_confirmation_box" hidden="hidden">
    <div id="double_spend_warning_text">
      <p><b>Double spend warning</b></p>
      <p>This is a double spend. If you choose to confirm this transfer, only one of your transfers will be completed, while the rest will be pending forever.</p>
      <p>You should wait for any transactions you just made to finish before sending a new one</p>
    </div>
    <button class="btn btn-primary btn" onclick="restoreSendForm()" id="abort_double_spend">Abort</button>
    <button class="ladda-button btn btn-danger" data-style="expand-right" id="force_send_button" onclick="onSendClick(this)">
      <span class="ladda-label" data-disable-with="Make transaction">I want to send anyway</span>
    </button>
  </div>
</div>