<div id="transaction-notifications"></div>

<h2><div id="amount_div"></div></h2>
<span id="datetime_div" style="color: gray" ></span>

<h2>Bundle</h2>
<div id="bundle_div"></div>

<h2>Status</h2>
<div id="status_div"></div>
<p>
  <button id="replay" hidden="hidden" class="ladda-button btn btn-success btn" data-style="expand-right" onclick="replaySelectedTransfer(this)">
    <span class="ladda-label" data-disable-with="Re-attach">Re-attach</span>
  </button>
  <div id="double_spend_info" class="alert-danger" hidden="hidden">This is a double spend and might never be completed. You should do the transfer again after one of them have been confirmed</div>
</p>

<h2>Message</h2>
<div id="message_div"></div>

<br>

<div class="panel panel-default">
  <div class="panel-heading"><h2>Bundles</h2></div>
  <div class="panel-body">
    <table class="table fixed-table"  >
      <thead>
      <tr>
        <th>Value</th>
        <th>Address</th>
        <th>Hash</th>
      </tr>
      </thead>
      <tbody id="bundle_list">
      </tbody>
    </table>
  </div>
</div>