

<div class="panel panel-default">
  <div class="panel-heading"><h1>Transactions</h1></div>
  <div class="panel-body">
    <table class="table clickable"  >
      <thead>
      <tr>
        <th></th>
        <th>Date</th>
        <th>Value</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody id="transaction_list">
      </tbody>
    </table>

    <div class="col-md-12 text-center">
      <ul class="pagination pagination-lg pager" id="transaction_pager"></ul>
    </div>

  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="transactionModal">
  <div class="modal-dialog modal-wide" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Transaction</h4>
      </div>
      <div class="modal-body">
        <%= render 'transaction_view' %>
      </div>
      <div class="modal-footer">
        <%= link_to 'Close', wallets_show_path, type: 'button', clas: 'btn' %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->