<script>
    $( document ).ready(function() {
        $("#loading").spin({
            color: '#777',
            top: '40%',
            length: 20,
            width: 15,
            radius: 30
        });

        initOptions();
    });
</script>

<div id="wallet_options_notifications"></div>

<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <a data-toggle="tab" href="#addresses"><span class="glyphicon glyphicon-list"></span>  Addresses</a>
  </li>
  <li role="presentation">
    <a data-toggle="tab" href="#backup"><span class="glyphicon glyphicon-save"></span>  Backup</a>
  </li>
  <li role="presentation">
    <a data-toggle="tab" href="#custom_send"><span class="glyphicon glyphicon-send"></span>  Advanced transfer</a>
  </li>
</ul>

<div class="tab-content">
  <div id="addresses" class="tab-pane active">
    <div id="loading" ><p class="text-muted">Loading addresses...</p></div>
    <div id="addresses_div" hidden="hidden">
      <table class="table fixed-table">
        <thead>
        <tr>
          <th style="width: 5em">Index</th>
          <th>Address</th>
          <th style="width: 6em">Balance</th>
        </tr>
        </thead>
        <tbody id="address_list">
        </tbody>
      </table>
      <div id="loadAllTransactionsDiv" style="text-align: center">
        <a class="text-muted" href="javascript:loadAddresses(true);">Load all</a>
      </div>
    </div>
  </div>

  <div id="backup" class="tab-pane">
    <div class="table-view">
      <div class="well inline">
        <h2>Encrypted</h2>
        <div class="text-muted text-explanation">
          Download an encrypted version of your seed. It can be decrypted using your password
        </div>
        <button class="btn btn-primary download-button" onclick="onEncryptedDownloadBackupClick()">
          Download
        </button>
      </div>

      <div class="well inline">
        <h2>Decrypted</h2>
        <div class="text-muted text-explanation">
          Download a copy of your seed in plain text. Please use this option with caution.
        </div>
        <button class="btn btn-danger download-button" onclick="onDecryptedDownloadBackupClick()">
          Download
        </button>
      </div>
    </div>
  </div>

  <div id="custom_send" class="tab-pane">
    <%= render 'custom_send' %>
  </div>
</div>

<style>
  .well{
    background-color: white;
    padding-top: 0;
    position: relative;
    width: 49%;
    display: table-cell;
  }

  .download-button{
    position: absolute;
    bottom: 1em;
  }

  .text-explanation{
    padding-bottom: 3em;
  }

  .table-view{
    display:table;
    border-collapse:separate;
    border-spacing:1em;
  }
</style>