<h1>Wallet settings</h1>

  <h2>Username</h2>
  <div class="input-group">
    <input id="username_box" class="form-control" >
  </div>

  <div class="input-group">
    <h2>Remote node</h2>
    <input id="remote_node_box" class="form-control">
  </div>

  <h2>Full balance</h2>
  <div class="input-group">
    <div id="wallet_balance"></div>
    <span class="input-group-btn">
          <button class="btn btn-primary" onclick="openSendWindow()">Make transfer</button>
        </span>
  </div>
