<script>
    // Clipboard
    var clipboard = new Clipboard('.copy-button');

    $('.copy-button').tooltip({
        trigger: 'click',
        placement: 'bottom'
    });

    function setTooltip(btn, message) {
        $(btn).tooltip('hide')
            .attr('data-original-title', message)
            .tooltip('show');
    }

    function hideTooltip(btn) {
        setTimeout(function() {
            $(btn).tooltip('hide');
        }, 1000);
    }

    clipboard.on('success', function(e) {
        setTooltip(e.trigger, 'Copied!');
        hideTooltip(e.trigger);
    });

    clipboard.on('error', function(e) {
        setTooltip(e.trigger, 'Failed!');
        hideTooltip(e.trigger);
    });

    // Clipboard end

    $(document).on('turbolinks:load', function() {
        // Because turbolinks breaks the normal jquery behaviour, this will fire for all pages after the wallet has been visited
        // Only want to proceed it the current page is wallet/show
        if (window.location.href.indexOf('wallets/show') === -1){
            return;
        }

        $("#loading").spin({
            color: '#777',
            top: '40%',
            length: 20,
            width: 15,
            radius: 30
        });

        showTxLoadUI();
        loadWalletData(onGetWalletData, onTxLoadingFinishedFirstTime);
    });
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="loading" ><p class="text-muted">Loading wallet...</p></div>

<div id="wallet-data" hidden="hidden">
  <div id="wallet_show_notifications"></div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="inline"><span class="inline">Your wallet: <span id="wallet_balance_summary"></span></span></h1>
      <div class="inline" style="float: right;text-align: center;vertical-align:middle">
        <h1 class="inline" >
          <a href="/wallets/details" style="color: white"><span class="glyphicon glyphicon-option-horizontal" title="Details"></span></a>
        </h1>
      </div>
    </div>
    <div class="panel-body">
      <h2>Seed</h2>
      <div class="input-group">
        <input id="seed_box" class="form-control overflow-elipsis" type="password" onclick="showSeed()" readonly>

        <span class="input-group-btn">
          <button class="btn copy-button" type=button style="background-color: #dddddd" onclick="showSeed()" data-clipboard-target="#seed_box">
            <%= image_tag('clippy.svg', size: '16') %>
          </button>
        </span>
      </div>

      <div>
        <div class="inline">
          <h2>Your address
          </h2>
        </div>
      </div>
      <div class="input-group">
        <input id="address_box" class="form-control overflow-elipsis" readonly>

        <span class="input-group-btn">
          <button class="btn copy-button" type=button style="background-color: #dddddd" data-clipboard-target="#address_box" title="Click to copy">
            <%= image_tag('clippy.svg', size: '16') %>
          </button>
        </span>
      </div>
      <a id="refresh_address" class="text-muted" onclick="onGenerateAddressClick()" title="Generate a new address">Generate new address</a>

    <h2>Full balance</h2>
      <div class="input-group">
        <div>
          <span id="wallet_balance"></span>
          <span id="wallet_balance_pending" hidden="hidden"><span> (</span><span id="wallet_balance_pending_amount">0</span><span> IOTAs pending)</span></span>
        </div>
        <div class="input-group-btn" style="text-align: center">
          <button class="btn btn-primary" type=button title="Send iotas" onclick="openSendWindow()">Make transfer</button>
          <br>
          <button class="btn btn-link" title="Send iotas" onclick="openDonationWindow()">Donate</button>
        </div>
      </div>
    </div>
  </div>

  <div id="wallet-transactions">
    <%= render 'transaction_list' %>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="sendModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Make transaction</h4>
      </div>
      <div class="modal-body">
        <%= render 'send_form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-link" data-dismiss="modal" aria-label="Close">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->