<script>
    // Clipboard

    $('.btn').tooltip({
        trigger: 'click',
        placement: 'bottom'
    });

    function setTooltip(btn, message) {
        $(btn).tooltip('hide')
            .attr('data-original-title', message)
            .tooltip('show');
    }

    function hideTooltip(btn) {
        setTimeout(function() {
            $(btn).tooltip('hide');
        }, 1000);
    }

    var clipboard = new Clipboard('.btn');

    clipboard.on('success', function(e) {
        setTooltip(e.trigger, 'Copied!');
        hideTooltip(e.trigger);
    });

    clipboard.on('error', function(e) {
        setTooltip(e.trigger, 'Failed!');
        hideTooltip(e.trigger);
    });

    // Clipboard end

    $(document).on('turbolinks:load', function() {
        // Because turbolinks breaks the normal jquery behaviour, this will fire for all pages after the wallet has been visited
        // Only want to proceed it the current page is wallet/show
        if (window.location.href.indexOf('wallets/show') === -1){
            return;
        }

        loadWalletData(onGetWalletDataFinished);
        $(document).find('#wallet-data').hide();
        $("#loading").spin({
            color: '#777',
            top: '40%',
            length: 20,
            width: 15,
            radius: 30
        });
    });
</script>

<div id="loading" ><p class="text-muted">Loading wallet...</p></div>

<div id="wallet-data">
  <div id="wallet_show_notifications"></div>
  <div class="panel panel-primary">
    <div class="panel-heading"><h1>Your wallet: <span id="wallet_balance_summary"></span></h1></div>
    <div class="panel-body">
      <h2>Seed</h2>
      <div class="input-group">
        <input id="seed_box" class="form-control" type="password" onclick="showSeed()" readonly>

        <span class="input-group-btn">
          <button class="btn" type=button style="background-color: #dddddd" onclick="showSeed()" data-clipboard-target="#seed_box">
            <%= image_tag('clippy.svg', size: '16') %>
          </button>
        </span>
      </div>

      <div style="display: inline-block">
        <div style="display: inline-block">
          <h2>Your address
            <span id="refresh_address_glyph" onclick="onGenerateAddressClick()" class="glyphicon glyphicon-refresh"></span>
          </h2>
        </div>
        <div style="display: inline-block" class="text-muted" id="address_generation_status"></div>
      </div>
      <div class="input-group">
        <input id="address_box" class="form-control" readonly>

        <span class="input-group-btn">
          <button class="btn" type=button style="background-color: #dddddd" data-clipboard-target="#address_box">
            <%= image_tag('clippy.svg', size: '16') %>
          </button>
        </span>
      </div>

    <h2>Full balance</h2>
      <div class="input-group">
        <div id="wallet_balance"></div>
        <span class="input-group-btn">
          <button class="btn btn-primary" type=button onclick="openSendWindow()">Make transfer</button>
        </span>
      </div>
    </div>

  </div>

  <div id="wallet-transactions">
    <%= render 'transaction_list' %>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="sendModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Make transaction</h4>
      </div>
      <div class="modal-body">
        <%= render 'send_form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-link" data-dismiss="modal" aria-label="Close">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->