@import "bootstrap-sprockets";
@import "bootstrap";
@import "wallets";
@import "nodes";
@import "ladda";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-content {
  padding-bottom: 20px;
}

.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 30px;
  }
  .jumbotron {
    border-bottom: 0;
  }
}

.inline {
  display: inline-block;
}

.footer-content{
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.fixed-table {
  width:100%;
  table-layout:fixed;
  overflow-y: scroll;
}

.fixed-table td {
  word-wrap: break-word;
}