// Place all the styles related to the Wallets controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
#loading {
  height: 13em;
  position: relative }
#loading p {
  margin: 0;
  position: absolute;
  top: 90%;
  font-size: 1.5em;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }

table
{
  width:100%;
  text-overflow: ellipsis;
}

.clickable tr:hover {
  background-color: lightyellow;
  cursor: pointer;
}

.icon-clickable {
  cursor: pointer;
}

.modal-body {
  width:100%;
  word-wrap: break-word;
}

.transaction-table {
  width:100%;
  table-layout:fixed;
  overflow-y: scroll;
}

.transaction-table td {
  word-wrap: break-word;
}

.modal-wide {
  width: 90vh;
}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -ms-animation: spin .7s infinite linear;
  -webkit-animation: spinw .7s infinite linear;
  -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
  from { -moz-transform: rotate(0deg);}
  to { -moz-transform: rotate(360deg);}
}

.setting{
  color: white;
  float: right;
}